 <label for="customer-search"> Search customer </label>
<input type="text" ng-model="customers.query" />

<label for="customer-filter"> Order By: </labelL>
<select ng-model="customers.customerProp">
	<option value="order_number" selected> Location Number </option>
	<option value="action"> Action </option>
</select>


<ul ng-repeat="customer in customers.customers.results | filter: customers.query | orderBy: customers.customerProp">
	<li> {{ customer.first_name }} </li>
	<li> {{ customer.last_name }} </li>
	<li> {{ customer.default_billing_address_token }} </li>
	<li> {{ customer.organization_id }} </li>
	<li> {{ customer.customer_token }} </li>
	<a href="#" style="color: blue; cursor: pointer"> Customer Items </a>
</ul> 